<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"> <!-- using Bootstrap -->
    <!--<link rel="stylesheet" href="/my-portfolio/public/stylesheets/bootstrap-grid.min.css"> -->
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
      <!-- custom logo.  -->
      <div class="custom-logo">
        <img src="/images/logo.jpg" alt="A headshot of me" class="img-fluid" width="150" height="50">
      </div>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item <%= title === 'Home' ? 'active' : '' %>">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item <%= title === 'About Me' ? 'active' : '' %>">
        <a class="nav-link" href="/about">About Me</a>
      </li>
      <li class="nav-item <%= title === 'Projects' ? 'active' : '' %>">
        <a class="nav-link" href="/projects">Projects</a>
      </li>
      <li class="nav-item <%= title === 'Services' ? 'active' : '' %>">
        <a class="nav-link" href="/services">Services</a>
      </li>
      <li class="nav-item <%= title === 'Contact' ? 'active' : '' %>">
        <a class="nav-link" href="/contact">Contact</a>
      </li>
    </ul>
  </div>
</nav>
